In [16]:
!pip install psycopg2

Collecting psycopg2

[notice] A new release of pip is available: 22.2.2 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading psycopg2-2.9.10-cp39-cp39-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp39-cp39-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   -- ------------------------------------- 0.1/1.2 MB 544.7 kB/s eta 0:00:03
   ---- ----------------------------------- 0.1/1.2 MB 804.6 kB/s eta 0:00:02
   -------- ------------------------------- 0.3/1.2 MB 1.3 MB/s eta 0:00:01
   ----------------- ---------------------- 0.5/1.2 MB 2.1 MB/s eta 0:00:01
   ----------------------------------- ---- 1.0/1.2 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 3.7 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [4]:
df = pd.read_csv(
    "D:\\Technical\\DataTalks\\Data_Engineering_Zoomcamp\\homework\\1_docker_terraform_gcp\\green_tripdata_2019-10.csv")

C:\Users\gouth\AppData\Local\Temp\ipykernel_3592\1554793981.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476386 entries, 0 to 476385
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               387007 non-null  float64
 1   lpep_pickup_datetime   476386 non-null  object
 2   lpep_dropoff_datetime  476386 non-null  object
 3   store_and_fwd_flag     387007 non-null  object
 4   RatecodeID             387007 non-null  float64
 5   PULocationID           476386 non-null  int64
 6   DOLocationID           476386 non-null  int64
 7   passenger_count        387007 non-null  float64
 8   trip_distance          476386 non-null  float64
 9   fare_amount            476386 non-null  float64
 10  extra                  476386 non-null  float64
 11  mta_tax                476386 non-null  float64
 12  tip_amount             476386 non-null  float64
 13  tolls_amount           476386 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  476386 non-null  float64
 16  total_amount           476386 non-null  float64
 17  payment_type           387007 non-null  float64
 18  trip_type              387005 non-null  float64
 19  congestion_surcharge   387007 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 72.7+ MB

In [6]:
print(pd.io.sql.get_schema(df, name='green_trip_data'))

CREATE TABLE "green_trip_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [7]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [8]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [9]:
engine.connect()

In [10]:
print(pd.io.sql.get_schema(df, name="green_trip_data", con=engine))

CREATE TABLE green_trip_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [11]:
df.shape

(476386, 20)

In [12]:
df.head(n=0).to_sql(name="green_trip_data", con=engine, if_exists='replace')

0

In [13]:
df.to_sql(name="green_trip_data", con=engine, if_exists='append')

386

In [14]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [4]:
#Inserting taxi_zones into postgres
df = pd.read_csv("D:\\Technical\\DataTalks\\Data_Engineering_Zoomcamp\\homework\\1_docker_terraform_gcp\\taxi_zone_lookup.csv")

In [5]:
df.head

<bound method NDFrame.head of      LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]>

In [10]:
df.to_sql(name="taxi_zones", con=engine, if_exists='append')
print('finished inserting zones to database')

finished inserting zones to database