This jupyter notebook contains how to read the pandas file and connect to postgres instance using pandas and jupyter notebook. Install pandas, sqlalchemy, and psycopg2 libraries in the system.

In [11]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

The dataset in the original website is in parquet format. We are using csv file from the archive for the course purposes. The below link has the dictionary for all the columns in the dataset.

https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf

Let us load the first 100 rows from the dataset to avoid memory overloading.

In [12]:
df = pd.read_csv("yellow_tripdata_2021-01.csv",nrows=100)

Pandas can create the database schema based on the column names. It outputs the required DDL for the table creation using the below command. Use the print statement to avoid the /n after the column names. The below command ouputs the instructions on the schema and does not actually create the schema.

In [13]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

Now checking the datatypes of the different columns, we notice that the "tpep_pickup_datetime" and "tpep_dropoff_datetime" are both text where as they are datetime types. Changing their types.

In [14]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
# URL connection link database://user:password@host:port/database_name
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

# connect the postgresql instance in docker 
engine.connect()

# get the specific output for postgres engine
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [25]:
query = """SELECT * FROM yellow_taxi_data LIMIT 100 ;
"""

pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [16]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists='replace')

0

In [19]:
# returs an iterator object which has the data divided in the specified size
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv",iterator=True, chunksize=100000)

In [20]:
# Pushes the chunks into the postgres database.
chunk_counter = 0
while True:
    try:
        t_start = time()
        df = next(df_iter)
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
        t_end = time()
        chunk_counter += 1
        print(f"Time taken for chunk {chunk_counter} is {t_end - t_start:.3f} seconds")
    except StopIteration:
        print('completed')
        break

Time taken for chunk 1 is 15.018 seconds
Time taken for chunk 2 is 14.388 seconds
Time taken for chunk 3 is 15.051 seconds
Time taken for chunk 4 is 16.973 seconds
Time taken for chunk 5 is 19.973 seconds
Time taken for chunk 6 is 18.461 seconds
Time taken for chunk 7 is 32.169 seconds
Time taken for chunk 8 is 29.283 seconds
Time taken for chunk 9 is 16.247 seconds
Time taken for chunk 10 is 14.469 seconds
Time taken for chunk 11 is 15.083 seconds
Time taken for chunk 12 is 13.606 seconds

C:\Users\gouth\AppData\Local\Temp\ipykernel_20796\2888648637.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Time taken for chunk 13 is 16.198 seconds
Time taken for chunk 14 is 11.317 seconds
completed

In [30]:
query = """ SELECT COUNT(1) FROM yellow_taxi_data;
"""

pd.read_sql(query,con=engine)

     count
0  1369765